@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Parkinsans:wght@300..800&family=Roboto&display=swap');


.header-wrapper{
  border-bottom: 1px solid rgb(152, 139, 139);
}

.left-side{
    display: inline;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 35px;
    margin-top: -10px;
}

.logo {
    width: 150px;
}

.header{
     display: flex;
     justify-content: space-around;
}


.right-side{
    display: flex;
    border-left: 1px solid rgb(156, 147, 147);
    padding-right: 40px;
    margin-left: 20px;
    margin-top: -15px;
    margin-bottom: 30px;   
}

.start{
    display: flex;
}

.user-profile{
    width: 50px;
    height: 50px;
    margin-top: 32px;
     border: none;
    border-radius: 50px;
    background-color: rgba(165, 245, 165, 0.316);
    margin-left: 30px;
    border: 1px solid rgb(93, 93, 93); 
}

.cart{
    display: flex;
}

.cart-button{
    width: 50px;
    height: 50px;
    margin-top: 32px;
    border: none;
    border-radius: 50px;
    background-color: rgba(165, 245, 165, 0.316);
    border: 1px solid rgb(93, 93, 93); 
    margin-left: 20px;
}
.cart-price{
    margin-left: 5px;
    margin-top: 40px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid rgb(233, 222, 222);
    height: 30px;
    width:80px;
    text-align: center;
    border-radius: 35px;
    background-color: rgba(192, 234, 192, 0.541);
}


