@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Parkinsans:wght@300..800&family=Roboto&display=swap');

.bg-color {
    background-color: rgb(34, 239, 89);
}

.m {
    margin-bottom: -22px;
}

.welcome {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding: 4px;
    margin-bottom: 10px;
}

.logo {
    width: 200px;
    margin-left: 30px;
}

.header{
    display: flex;
    background-color: rgba(169, 239, 169, 0.36);
    height: 160px;
}

.middle{
    display: flex;
}
.search-bar{
    display: flex;
    position: relative;
}
.search-bar input{
    width: 600px;
    height: 50px;
    min-width: 150px;
    border-radius: 40px;
    margin-top:55px ;
    margin-left:40px; 
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(165, 245, 165, 0.316);
    border:1px solid rgb(93, 93, 93);
    justify-content: center;
    align-items: center;
 
}
.search-bar input:hover{
    border: 1px solid black;
}

.search-bar button{
    border: none;
    background-color: rgba(165, 245, 165, 0.316);
    border-radius: 40px;
    margin-top: 60px;
    position: absolute;
    right: 25px;
    top: 5px;
    z-index: 10;
}

.right-side{
    display: flex;
}
.user-profile{
    width: 50px;
    height: 50px;
    margin-top: 55px;
     border: none;
    border-radius: 50px;
    background-color: rgba(165, 245, 165, 0.316);
    margin-left: 30px;
    border: 1px solid rgb(93, 93, 93); 
}

.cart{
    display: flex;
}
.cart-price{
    margin-left: 9px;
    margin-top: 65px;
    font-size: 16px;
    font-weight: bold;
}
.cart-button{
    width: 50px;
    height: 50px;
    margin-top: 55px;
    border: none;
    border-radius: 50px;
    background-color: rgba(165, 245, 165, 0.316);
    border: 1px solid rgb(93, 93, 93); 
    margin-left: 20px;
}