.welcome {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding: 4px;
    text-align: center;
}

.top{
    width: 100%;
    background-color: rgb(36, 249, 36);
}